:root{
    --main-bg-color: #C2EABA;
    --hover-color:#C5F4E0;
    --text-color-round:#8F8389;
    --main-text-color:#000000;
}

footer{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color:var(--main-bg-color);
}

section{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5em;
    padding-bottom: 1.8em;
  
}

body a li{
    color:val(--main-text-color);
}

body a:link{
    color: val(--text-color-round);
    text-decoration: none;
}

#asignaturas{
    text-align: center;
}

.asignatura{
    color: var(--main-text-color);  
    padding: 1em;
    display: inline-block;
    background-color: var(--main-bg-color);

}

.asignatura:hover, #intermedia:hover{
    background-color: var(--hover-color);
}

.asignatura a p{
    margin-bottom: 2vh;
    color: var(--main-text-color);  
}
.asignatura img{
    display: inline-block;
    top: auto;
    left: auto;
    height: 6em;

}

section hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #000000;

}

section > h3{
    margin-left: auto;
    margin-right: auto;
}

#contenedorIntermedio{
    column-count: 2;
}

#intermedia{

    display: inline-block;
    text-decoration: none;
    color: var(--main-text-color);  
    background-color: var(--main-bg-color);
    padding: 1em;
    border: solid;
}

section ul{
    column-count: 3;
}

section ul li{   
    color: var(--main-text-color);  
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: var(--main-bg-color);
    list-style-type: none;
    border: solid;
    width: fit-content;
    min-width: 7em;
    max-width: 15em;
    break-inside: avoid-column;
}
section ul li:hover{    
    background-color: var(--hover-color);
}

header{
    color: var(--text-color-round);
    font-size: 1.5em;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:var(--main-bg-color);
}

#path{
    display: inline;
    color: var(--main-text-color);
    margin-left: 25%;
}

header p{
    display: inline;
    margin-left: 2em;

}