.pantalla{
    width: 92%;
    height: 20px;
    margin: 4px;
    background-color: rgb(194, 224, 250);

}

.calculadora{
    text-align: center;
    width: 250px;
    height: 250px;
    display: inline-block;
    background-color: rgb(255, 234, 206);
    border: solid;
}

.boton{
    margin: 1%;
    width: 22%;
    height: 30px;
    font-size: 20px;
}