nav{
    text-align: center;
    background-color: #007bff;
}

#content{
   
    text-align: center;
}

#content table{
    margin-top: 50pt;
    margin: 2rem auto;
}

footer div{
    position: absolute;
    bottom: 0;
    background-color: #007bff;
}